@media (min-width: 375px) and (max-width: 576px) {
  header {
    height: 200px;
    padding-top: 13px;
    color: #d5d2d2;
    text-align: center;
  }
  nav li {
    text-align: center;
  }
  #servicios {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
  }
  .contacto-nosotros {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 577px) {
  .titulo-final {
    flex-direction: column;
    justify-content: space-between;
  }
  .contacto-nosotros {
    width: 500px;
    height: auto;
  }
}
@media (min-width: 578px) {
  .img-main {
    width: 100%;
    height: auto;
    padding: 5px;
  }
}
* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 300px;
  padding-top: 15px;
  background-size: cover;
  background-image: url(../imagenes/background.jpg);
  text-align: center;
  object-fit: cover;
}
header nav li {
  display: inline;
  margin: 20px;
  color: #9e9494;
}
header nav a {
  font-weight: bold;
  color: #c1c1c1;
  text-decoration: none;
}
header nav a:hover {
  background-color: #ffffff;
  color: #9e9494;
}
header .textos-header h1 {
  font-size: 20px;
  color: #cccccc;
}
header .textos-header h2 {
  font-size: 20px;
  color: #a0a0a0;
}

main {
  padding: 20px;
}
main section {
  background-color: #d5d2d2;
  margin: 20px 0;
  padding: 20px;
}
main section .about-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-content: center;
}
main .contenedor-sobre-nosotros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .imagen-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #carouselExampleDark {
  width: 100%;
  height: 90%;
  margin-right: 8px;
  max-width: 900px;
  margin: 0 auto;
}
main .carousel-caption h5 {
  color: #ffffff;
  text-shadow: #959090;
}
main img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
main h2 {
  color: #282525;
}
main .contenido-textos h3 {
  font-size: 20px;
  color: #575757;
  align-items: center;
}
main .contenido-textos h4 {
  font-size: 18px;
  color: #424242;
}

.servicio-ind h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicio-ind p {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: #555;
  align-items: center;
  justify-content: center;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}
#formulario form {
  display: flex;
  flex-wrap: wrap;
}
#formulario form label,
#formulario form input,
#formulario form textarea,
#formulario form button {
  flex: 0 0 100%;
}

.titulo-final {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-items: center;
}

footer {
  display: flex;
  background-color: #959090;
  color: #f2eded;
  text-align: center;
  padding: 40px 0;
  justify-content: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=styles.css.map */
