$color-primario: #9e9494;
$color-secundario: #c1c1c1;
$color-terciario: #cccccc;
$color-cuaternario:#a0a0a0;
$color-quinto: #959090;
$color-fondo: #ffffff;
$color-sexto:#282525;
$color-septimo: #575757;
$color-octavo: #424242;
$color-noveno:#555;
$color-decimo: #d5d2d2;
$color-onceavo: #f2eded;