main {
    padding: 20px;

    section {
        background-color: $color-decimo;
        margin: 20px 0;
        padding: 20px;

        .about-services {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            align-content: center;
        }

    }

    .contenedor-sobre-nosotros {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .imagen-about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #carouselExampleDark {
        width: 100%;
        height: 90%;
        margin-right: 8px;
        max-width: 900px;
        margin: 0 auto;
    }

    .carousel-caption {
        h5 {
            color: $color-fondo;
            text-shadow: $color-quinto;

        }
    }
    img {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
    h2 {
        color: $color-sexto;
    }

    .contenido-textos {
        h3 {
            font-size: 20px;
            color: $color-septimo;
            align-items: center;
        }

        h4 {
            font-size: 18px;
            color: $color-octavo;
        }
    }
    }

    .servicio-ind {
        h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        p {   
            display: flex;
            flex-direction: row;
            font-size: 15px;
            color: $color-noveno;
            align-items: center;
            justify-content: center;
    }

    }
    #formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%; // Ajusta el ancho máximo según tus preferencias
        margin: 0 auto; // Centra el formulario horizontalmente
      
        form {
          display: flex;
          flex-wrap: wrap; // Permitir que los elementos se envuelvan a la siguiente línea
      
          label,
          input,
          textarea,
          button {
            flex: 0 0 100%; // Ocupar todo el ancho en una nueva línea
          }
        }
      }